<template>
  <div class="btn">
    <router-link to="/"><button>Back</button></router-link>
  </div>
  <div>
    <div
      v-for="eachCountry in countryData"
      :key="eachCountry.name"
      class="main-container"
    >
      <div class="one">
        <img :src="eachCountry.flag" alt="" />
      </div>
      <div class="two">
        <h1>{{ eachCountry.name }}</h1>
        <p>Native Name:{{ eachCountry.nativeName }}</p>
        <p>Population:{{ eachCountry.population }}</p>
        <p>Region:{{ eachCountry.region }}</p>
        <p>Sub Region:{{ eachCountry.subregion }}</p>
        <p>Capital:{{ eachCountry.capital }}</p>
      </div>
      <div className="three">
        <p>Top Level Domain:{{ eachCountry.topLevelDomain[0] }}</p>
        <p>Currencies:{{ eachCountry.currencies[0].name }}</p>
        <p>Languages:{{ eachCountry.languages[0].name }}</p>
      </div>
    </div>
  </div>
  <div class="border">
    <h2>Border Countries:</h2>
    <div class="border-btn">
      <div v-for="border in borders" :key="border[0]">
        <button @click="changeCountry(border)">{{ border }}</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  created() {
    console.log(this.$route.params);
    this.code = this.$route.params.code;
    this.getEachCountry(this.code);
  },

  data() {
    return {
      countryData: [],
      code: "",
      borders: [],
    };
  },

  methods: {
    getEachCountry(code) {
      axios.get(`https://restcountries.com/v2/alpha/${code}`).then((res) => {
        this.countryData.push(res.data);
        this.borders = res.data.borders;
      });
    },
    changeCountry(border) {
      this.countryData = [];
      this.borders = [];
      axios.get(`https://restcountries.com/v2/alpha/${border}`).then((res) => {
        this.countryData.push(res.data);
        this.borders = res.data.borders;
      });
    },
  },
};
</script>

<style>
.main-container {
  display: flex;
  padding: 50px;
  margin: 10px;
}

.one img {
  width: 500px;
  height: 250px;
  border: 1px solid rgb(186, 182, 182);
}

.two {
  margin-left: 50px;
  text-decoration: justify;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  line-height: 0.3;
}

.two p {
  font-size: 18px;
}
.three p {
  font-size: 18px;
}

.three {
  text-decoration: justify;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  line-height: 0.3;
  margin-left: 80px;
  margin-top: 50px;
}
.btn button {
  margin-right: 100rem;
  background-color: rgb(241, 219, 219);
  margin-top: 40px;
  padding: 10px 30px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.border-btn {
  display: flex;
  flex-direction: row;
  margin-left: 38rem;
  flex-wrap: wrap;
}
.border-btn button {
  margin: 10px;
  padding: 10px 30px;
  font-size: 18px;
}
.border h2 {
  margin-top: -70px;
  margin-left: -480px;
}
</style>