<template>
  <div class="nav-container">
    <input
      type="text"
      placeholder="Search for a country ..."
      v-model="searchCountry"
    />

    <select name="" id="" v-model="filterCountry">
      <option disabled selected value>Filter by Region</option>
      <option value="Africa">Africa</option>
      <option value="Asia">Asia</option>
      <option value="Americas">Americas</option>
      <option value="Polar">Polar</option>
      <option value="Europe">Europe</option>
      <option value="Oceania">Oceania</option>
      <option value="Antarctic Ocean">Antarctic Ocean</option>
    </select>
  </div>

  <h1 v-if="isLoading">Loading...</h1>
  <h2 v-if="errorMsg">{{ errorMsg }}</h2>

  <div class="main">
    <div v-for="country in searchedCountry" :key="country.name" class="country">
      <router-link :to="`/${country.alpha2Code}`" style="text-decoration: none">
        <img :src="country.flag" alt="flag" />
        <h1>{{ country.name }}</h1>
        <div class="para">
          <p>Population:{{ country.population }}</p>
          <p>Region:{{ country.region }}</p>
          <p>Capital:{{ country.capital }}</p>
        </div>
      </router-link>
    </div>
  </div>
</template>


<script>
import axios from "axios";
export default {
  created() {
    this.getCountry();
  },
  data() {
    return {
      countries: [],
      isLoading: true,
      errorMsg: "",
      searchCountry: "",
      filterCountry: "",
    };
  },
  computed: {
    filteredCountry() {
      return this.countries.filter((country) => {
        return country.region.includes(this.filterCountry);
      });
    },

    searchedCountry() {
      return this.filteredCountry.filter((country) => {
        return country.name
          .toLowerCase()
          .startsWith(this.searchCountry.toLowerCase());
      });
    },
  },

  methods: {
    getCountry() {
      axios
        .get("https://restcountries.com/v2/all")
        .then((response) => {
          console.log(response.data);
          this.countries = response.data;
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.errorMsg = "Failed to Load Country details ";
        });
    },
  },
};
</script>


<style>
.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 4rem;
  padding: 1rem;
}

.nav-container select {
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
}
.nav-container input {
  font-size: 20px;
  cursor: pointer;
}

.country {
  background-color: rgb(216, 236, 234);
  width: 350px;
  margin: 10px;
  border: 1px solid rgb(240, 224, 224);
  text-decoration: none;
}

.country h1 {
  text-decoration-color: aqua;
}
.country p {
  font-size: 20px;
  line-height: 0.1;
  text-decoration: none;
}

.country img {
  width: 350px;
  height: 200px;
}
.para {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 5px;
}
.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 10px;
}
</style>